<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<table id="users">
    <thead>
    <tr>
        <th>STT</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Balance</th>
        <th>User Name</th>
        <th>Pass Word</th>
        <th>Email</th>
        <th colspan="2" style="text-align: center">Is Active</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p,s : ${users}">
        <td th:text="${s.count}"></td>
        <td th:text="${p.getName()}"></td>
        <td th:text="${p.getGender()}"></td>
        <td th:text="${(p.getBalance())}"></td>
        <td th:text="${(p.getUsername())}"></td>
        <td th:text="${(p.getPassword())}"></td>
        <td th:text="${(p.getEmail())}"></td>
        <td th:text="${(p.isActive())}"></td>
<!--        <td><a th:href="@{/api/users/updateM/{id}(id=${p.getId()})}">Update Money</a></td>-->
    </tr>

    </tbody>
</table>
</body>
</html>